<div class="row" style="margin-top:10%">
  <div class="col-sm-4 p-3"> 
    <div class="card shadow-lg" style="width:80%;">
      <img src="/assets/Images/Mumbai_03-2016_19_Antilia_Tower.jpg" class="card-img-top propImg">

      <div class="card-body p-2">
        <h1>{{Property.Id}}</h1>
        <h2>{{Property.Name}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div> 
  </div> 

  <div class="col-sm-4 p-3" > 
    <div class="card shadow-lg" style="width:80%;">
      <img src="/assets/Images/img1.jpg" class="card-img-top propImg">

      <div class="card-body p-2">
        <h1>{{Property.Id}}</h1>
        <h2>{{Property.Name}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div> 
  </div> 

  <div class="col-sm-4 p-3"> 
    <div class="card  shadow-lg" style="width:80%;" >
      <img src="/assets/Images/img2.jpg" class="card-img-top propImg">

      <div class="card-body p-2">
        <h1>{{Property.Id}}</h1>
        <h2>{{Property.Name}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div> 
  </div> 


</div>
